html,body{
    overflow: auto;
    max-width: 100%;
}

body{
    overflow: scroll;
    width: 100%;
    background-color: #FAFAFA;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;


}

.sec-1{
    display: flex;
    justify-content: center;
    align-content: center;
    

}
.nav li{
    display: inline;
    justify-content: space-around;
}
#vallie{
    font-family:  'Oleo Script';
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
}


#button{
    color: #FAFAFA;
    background-color: #2549D3;
    border-style: solid;
    padding: 10px;
    
}

#image1{
    width: 55%;
}

.sec-2{
    display: flex;
    justify-content: space-around;
    width: 70%;
    box-shadow: 1px 1px 2px 3px grey;
    position: relative;
    left: 20%;
}