html{
    overflow: auto;
    max-width: 100%;
    font-family:'Oleo Script' ;
}

body{
    overflow: scroll;
    width: 100%;
    background-color: #FAFAFA;
    margin: auto;
    padding: 1em;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;


}

.sec-1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    

}
.nav li{
    display: inline;
    justify-content: space-around;
}
#vallie{
    font-family:  'Oleo Script';
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
}


#button{
    color: #FAFAFA;
    background-color: #2549D3;
    border-style: solid;
    padding: 10px;
    border-radius: 1em;
    
}

#image1{
    width: 55%;
}

.sec-2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    box-shadow: 1px 1px 2px 3px grey;
    position: relative;
    left: 20%;
    align-items: center;
    padding:2% ;
}
h1{
    color: #2549D3;
}

#how{
    display: block;
    text-align: center;

}    .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;

}
  
.card1{
    box-shadow: 1px 1px 1px grey;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
     padding-bottom: -4%;
}

.card2{
    box-shadow: 5px 5px 4px grey;
    
    padding-left: -4%;
    padding-right: -4%;
    padding-top: -4%;
     padding-bottom: -4%;
}

.card3{
    box-shadow: 1px 1px 1px grey;
    padding-left: -4%;
    padding-right: -4%;
    padding-top: -4%;
     padding-bottom: -4%;
}
.blue{
    display: flex;
    background-color: #2549D3;
    color: #FAFAFA;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10%;

}
h3{
    font-family:  "Space Grotesk";
}
.view{
    float: right;
    border-radius: 1em;
}
.esteemed{
     display: block;
    text-align: center;
}
.alex{
    display: flex;
}
.feature{
    display: block;
    text-align: center;
}

.imgfeatured{
    width: 90%;
}
.big{
    display: flex;
    justify-content: space-around;
}
.big2{
    display: block;
    justify-content: space-around;
    box-shadow: 2px 3px 2px 2px rgb(239, 230, 230);
    width: 30%;
}
.inside{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p1{
    color: #2549D3;
}
.why-you{
display: flex;?
align-items: center;
}
li{
    list-style-type: circle;
}
.img-why{
    width: 50%;
    
    
}
.list-why{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
}
.choice{
    justify-content: space-around;
}
